<h1 class="text-center mb-3">{{title}}</h1>
<form action="/api/v1/orders/createOrder" method="POST" class="mb-4">
<div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control">
</div>
<div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control">
</div>
<div class="form-group">
      <label for="type">type</label>
      <input type="text" name="type" class="form-control">
</div>
<div class="form-group">
      <label for="amount">amount</label>
      <input type="text" name="amount" class="form-control">
</div>
<div class="form-group">
      <label for="grade">grade</label>
      <input type="text" name="grade" class="form-control">
</div>
<input type="submit" class="btn btn-primary ">
</form>
<h4>Orders</h4>
<ul class="list-group">
      {{#each orders}}
      <li class="list-group-item">Name:{{this.name}}<br>Type {{this.type}}<br>Amount: {{this.amout}} <br>Grade: {{this.grade}} <br>Email: {{this.email}} <br>Id: {{this.id}} <br> </li>
      {{/each}}
</ul>